@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&display=swap');

.content{
	position: relative;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.title_container{
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: rgb(160, 160, 160);
}

.backbtn{
	text-decoration: none;
	color: rgb(33, 33, 33);
}

.form_container{
	margin: 50px auto;
	width: 60%;
}

.fields{
	display: flex;
	flex-wrap: wrap;
}

.name{
	display: flex;
	flex-direction: column;
	width: 40%;
	gap: 2px;
}

.name label{
	text-align: left;
}

.name input{
	width: 70%;
	height: 25px;
	border-radius: 4px;
}

.diff{
	display: flex;
	flex-direction: column;
	width: 40%;
	gap: 2px;
}

.diff label{
	text-align: left;
}

.diff select{
	width: 25%;
}

.dur{
	display: flex;
	flex-direction: column;
	width: 40%;
	gap: 2px;
	margin-top: 24px;
}

.dur label{
	text-align: left;
}

.dur input{
	width: 70%;
	height: 25px;
	border-radius: 4px;
}

.season{
	display: flex;
	flex-direction: column;
	width: 40%;
	gap: 2px;
	margin-top: 24px;
	align-items: start;
}

.equipment{
	display: flex;
	flex-direction: column;
	width: 40%;
	gap: 2px;
	margin-top: 24px;
}

.equipment label{
	text-align: left;
}

.equipment input{
	width: 70%;
	height: 25px;
	border-radius: 4px;
}

.countries_container{
	display: flex;
	/* border: 2px solid blue; */
	width: 51%;
}

.countries{
	display: flex;
	flex-direction: column;
	width: 40%;
	gap: 2px;
	margin-top: 24px;
}

.countries label{
	text-align: left;
}

.countries div{
	height: 25px;
	border-radius: 4px;
	display: flex;
	justify-content: flex-start;
}

.countries select{
	width: 80%;
}


.screen{
	/* border: 2px solid red; */
	width: 70%;
	height: 90%;
}

.screencou{
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	width: 20%;
	/* border: 2px solid green; */
}

.screencou li{
	font-size: smaller;
}

.submit_container{
	width: 60%;
	margin-top: 24px;
	
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
}

.submit_container button{
	padding: 8px 16px;
}
